@font-face {
  font-family: 'Dubai-Regular';
  src: url('../static/fonts/Dubai-Regular.ttf') format("truetype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */

}


body{
  min-height: 100vh;
  background: rgb(255, 255, 255);

}

.navigation{
  position: fixed;
  width: 20%;
  height: 100%;
  background: #ededf2;
  

}

.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #b3b3b3;
  margin-top: 20%;

}

.navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li:hover{
  transition: ease-in 0.4s;
  background: #e7e7e7;
}


.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #b3b3b3 ;
}


.navigation ul li a .icon{
  position: relative;
  display: block;
  margin-left: 40px;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}


.navigation ul li a .icon .fa{
  font-size: 19px;
}

.navigation ul li a .title{
  position: relative;
  display: block;
  padding: 0 10px;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}


ul li.active a{

  color: #1b1464;
  border-right: 5px solid #1b1464;
  
  
}

.navigation ul li.space a{

  background: #ededf2;
  margin-left: -4%;
  width: 4%;
  
  
}

.navigation ul li.space{
  
  background: #ededf2;
}


.container1{
  position: fixed;
  margin-left: 20%;
  width: 80%;
  height: 100%;
  background: #ffffff;
}

.container1 ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  margin-top: 10%;
  margin-left: 7%;

}

.container1 ul li{
  position: relative;
  width: 100%;
  list-style: none;
}


.container1 ul li .title{
  color: #444444;
  font-size: 35px;

}

.container1 ul li .pack{
  color: #5c5c5c;
  font-size: 14px;
  

}


/* pricing */


/* .background {
  padding: 0 25px 25px;
  position: relative;
  width: 80%;
  margin-left: 20%;
  
} */

/* .background::after {
  content: '';
  background: #60a9ff;
  background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
  background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
} */

/* @media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
} */

.container {
  margin: 0 auto;
  /* padding: 50px 0 0; */
  max-width: 960px;
  width: 100%;
  margin-left: 25%;
  
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  margin-top: 20%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 20px;
  max-width: 100%;
}

.pricing-header {
  color: #5f5f5f;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  /* margin: 50px 0 25px; */
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 10px;
  /* line-height: 1.5; */
  padding: 10px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  /* margin: 25px 0; */
  padding: 2px 3px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}
